* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7)), url("../resources/images/vh-background.jpg");

}

body {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

header #dag-logo {
    height: 100px;
    width: 100px;
}

header #vh-logo {
    height: 100px;
    width: auto;
}

#info {
    width: 300px;
    height: 140px;
    background: rgba(0, 0, 0, 0.6);
    color: lightgrey;
    margin-left: 0.75rem;
    margin-top: 0.75rem;
    padding: 0.5rem;
    font-family: 'Blinker', sans-serif;
}

#info h3 {
    color: deepskyblue;
}



#info div {
    padding: 0.3rem 0 0 1rem;
    font-family: 'Blinker', sans-serif;
}

#info p {
    padding-top: 5px;
}

#info hr {
    background-color: slategrey;
    border: none;
    height: 1px
;
}


#version-number {
    float: right;
    color: limegreen;

}

#release-version {
    float: right;
    color: limegreen;
}

#vh-dir {
    user-select: text;
    padding-left: 0.5rem;
    color: limegreen;
    display: block;
    /*float: right;*/
    font-size: 0.9rem;
    -webkit-app-region: none;

}

.button-area {

    /*background-color: white;*/
    margin-top: 0.75rem;
}

.button-area button {
    border-radius: 0;
}
#start-valheim {
    -webkit-app-region: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
    border: none;
    height: 50px;
    width: 200px;
    background-color: limegreen;
    color: white;
    font-family: 'Blinker', sans-serif;
    font-size: 1.2rem;
}

#start-valheim:hover {
    background-color: forestgreen;
    /*color: black;*/
}

#quit-app {
    -webkit-app-region: none;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 50px;
    border: none;
    background-color: orange;
    font-family: 'Blinker', sans-serif;
    font-weight: bold;
}

#quit-app:hover {
    background-color: darkorange;
}

#set-path-to-valheim {
    -webkit-app-region: none;
    border: none;
    width: 180px;
    height: 20px;
    position: relative;
    left: 15px;
    top: -5px;
    font-family: 'Blinker', sans-serif;
    background-color: darkslateblue;
    color: lightgrey;
}

#set-path-to-valheim:hover {
    background-color: darkblue;
}

#app-info {
    position: absolute;
    bottom: 5px;
    left: 5px;
    /*background-color: white;*/
    /*background-color: darkslategrey;*/
}

#app-version {
    /*padding:5px 10px;*/
    font-family: 'Blinker', sans-serif;
    color: darkolivegreen;
}

